################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Serial Oscilloscope/obj/x86/Debug
/Serial Oscilloscope/bin/Debug
